.hero-banner {
  background-image: url('assets/images/background/reduced/backgroundHeroBanner-reduced.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition-duration: 0.5s;
}

.icons-infos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 160px;
}

.icon-infos-element {
  display: flex;
  align-items: center;
}
