:root {
  --var-green: #387067;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  background-color: var(--var-green);
  opacity: 0.8;
  padding: 0px 20px;
  display: flex;
  gap: 140px;
  position: fixed;
  width: 100%;
}

section {
  height: 100vh;
}

h1 {
  color: white;
  font-size: 80px;
  font-family: Knewave;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

h2 {
  color: white;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: lowercase;
  word-wrap: break-word;
}

.presentation-container {
  background-position: center;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-container.main {
  background-image: url('assets/images/carre_presentation/Carré_présentation_main.png');
}

.presentation-container.light {
  background-image: url('assets/images/carre_presentation/Carré_présentation_light.png');
}
