.experience-box {
  background-color: var(--var-grey-dark);
  border-radius: 160px;
  text-align: center;
  max-width: 1200px;
  padding: 0px 40px;
  align-items: center;
}

.line-green {
  z-index: 3;
}

.text-box {
  width: 80%;
  float: right;
}

.date-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  float: left;
  z-index: 2;
}

.date-text {
  color: var(--var-green-font);
  font-family: Knewave;
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
}

.realisation-flex {
  display: flex;
  align-items: center;
}

.title-experience {
  position: relative;
  bottom: 50px;
}

.responsive-date {
  position: relative;
  bottom: 30px;
}
