@media screen and (max-width: 1023px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .no-mobile {
    display: none;
  }

  .subtitle {
    font-size: 30px;
  }

  .subtitle2 {
    font-size: 20px;
  }

  .nav-flex {
    display: none;
  }
  .icons {
    height: 60px;
  }
  .container {
    padding: 0px 10px;
  }
  .icon {
    width: 60px;
  }

  .display.about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .quotes {
    display: none;
  }
  .icon-badge {
    width: 80px;
  }
  .badge {
    padding: 10px 60px;
    height: 60px;
  }
  .container-keywords {
    background-image: url('../assets/images/icons/heart.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1023px) {
  .menu-toggler {
    display: none;
  }
}
