:root {
  --color-dark-blue: #242c44;
  --color-main-blue: #081693;
  --color-purple: #745399;
  --color-main-pink: #e1287e;
  --color-light-pink: #f34f85;
  --color-grey: #848ca4;
}

html {
  background: var(--color-main-blue);
  background: linear-gradient(
    54deg,
    var(--color-main-blue) 0%,
    var(--color-purple) 70%
  );
  padding: 0;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-size: cover;
  background-position: center;
}
body {
  margin: 0;
}

.nav-links {
  display: flex;
  width: 100%;
  border-bottom: 2px solid var(--color-light-pink);
  background-color: var(--color-dark-blue);
}

.nav-links-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-links ol {
  list-style-type: none;
  padding-left: 0;
}

.nav-link-item {
  font-size: 32px;
}

.nav-link-item a {
  color: var(--color-main-pink);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
